
body,html{
  height: 100%;
  width: 100%;
  /* margin:0;
  padding:0;
<<<<<<< HEAD
  scroll-behavior: smooth; */
} 
=======
  scroll-behavior: smooth;
  background-color: #fcfcfc;
}
>>>>>>> 3cd3135a14087bb8f0aca13f21f6f64783006563
*{
  font-family: Arial;
}

/* .container{
  margin: auto;
  width: 80%;

} */
a{
  color: black;
  text-decoration: none;

}
.header{
  padding-top: 20px;
  border-bottom: 1px solid black;
}
h1{
  margin: auto;
  color: #C4B190;
  font-size: 3em;
}
.slogan{
  /* margin: auto; */
  text-align: center;
}
/* .row{
  margin: 5%;
} */
/* .resultat{
  display: inline-block;
  margin:10%;
  border: 1px solid black;
  width: 30%;
  height: 50px;
  background-color: #C4B190;
} */

.resultat{
  
  border: 1px solid black;
  background-color: #C4B190;
  margin: 25px;
  
}
.choix{
  /* float: left; */
  /* margin-top: 5%; */
  border:3px solid #C4B190;
  border-radius: 20px;
<<<<<<< HEAD
  /* width: 400px; */
  /* height: 400px;
  overflow: hidden; */
=======
  width: 40%;
  height: 70%;
  overflow: hidden;
>>>>>>> 3cd3135a14087bb8f0aca13f21f6f64783006563
}
.choix p{
  text-align: center;
  font-style: italic;
}
textarea{
  padding: 10px;
  width: 100% ;
  height: 100%;
}
.bouton button{
  
  margin-top:50px ;
  /* margin-left: 30%; */
}
.bouton{
  text-align: center;
}

<<<<<<< HEAD
/*.bouton button{
   width: 200px;
  height: 30px; 
=======
.bouton button{
  width: 200px;
  height: 30px;
>>>>>>> 3cd3135a14087bb8f0aca13f21f6f64783006563
  margin: auto;
  margin-left: 20%;
  margin-bottom: 10px;
   */



