<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Temerator</title>
    <link type="text/css" rel="stylesheet" href="main2.css" />
    <link rel="shortcut icon" href="/img/favicon.ico" />
     <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"> -->
     <script src="js/script.js"></script>
  </head>

 <body>
 <div class="container">
       <div class="header">
         <h1>Temerator<h1>
       </div>

         <div class="slogan">
           <p > Un site de générateur aléatoire</p>
         </div>

           <div class="choix" >
             <p>Veuillez saisir un choix par ligne</p>
             <textarea id='textarea'></textarea>
           </div>
         <div class="content">
             <div class="resultat">
               <span id='resultat'>
                 Résultat
               </span>
             </div>


             <div class="bouton">
               <button type="submit" onclick="Generate()">Générer</button>
               <button type="submit" onclick="Reinitialiser()">Reinitialiser</button>

             </div>

       </div>


 </div>

   </body>

   </html>
